@keyframes skip {
  0% {
    transform: translate(0, 0.25em);
  }
  50% {
    transform: translate(0, -0.25em);
  }
  100% {
    transform: translate(0, 0.25em);
  }
}

.skip:link, .skip:visited {
  display: block;
  position: absolute;
  bottom: -1.5em;
  height: 3em;
  width: 3em;
  overflow: hidden;
  text-indent: -999px;
  background: #f46 url('/img/down-arrow.svg') center center no-repeat;
  z-index: 999;
  left: 50%;
  margin-left: -1.5em;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(17,51,85,0.25);
  animation: 1s skip infinite;
}

.skip:hover::before, .skip:focus::before {
  display: none;
}
