<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}} {{subtitle}} | Superwatermelon</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-initial, initial-scale=1.0, viewport-fit=contain"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab:700" rel="stylesheet"/>
        <link href="/procedural-terrain-generation/css/index.css" rel="stylesheet"/>
        <link href="/procedural-terrain-generation/img/icon.png" rel="icon"/>
        <link href="/procedural-terrain-generation/img/icon.png" rel="apple-touch-icon"/>
        <link href="{{canonical}}" rel="canonical"/>
        <meta name="title" content="{{title}} - {{subtitle}}"/>
        <meta name="description" content="{{description}}"/>
        <meta name="robots" content="index, follow"/>
        <meta property="og:title" content="{{title}} - {{subtitle}}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:img" content="{{cover}}"/>
        <meta property="og:url" content="{{canonical}}"/>
        <script async src="https://www.googletagmanager.com/gtag/js?id={{gaTrackingId}}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{gaTrackingId}}');
        </script>
    </head>
    <body>
        <article vocab="http://schema.org" typeof="BlogPosting">
            <header>
                <nav>
                    <a class="skip" href="#content">Skip to content</a>
                    <a class="logo" href="https://superwatermelon.com">Superwatermelon</a>
                </nav>
                <div id="hero"></div>
                <div class="header-content" name="headline">
                    <div>
                        <h1>{{title}}</h1>
                        <h2>{{subtitle}}</h2>
                    </div>
                </div>
            </header>
            <div class="content" id="content" property="articleBody">
                {{{content}}}
            </div>
            <footer>
                <nav class="series-nav">
                    {{#prev}}
                        <a href="{{prev}}" rel="prev">Prev</a>
                    {{/prev}}
                    {{#next}}
                        <a href="{{next}}" rel="next">Next</a>
                    {{/next}}
                </nav>
                <div class="author" property="author" resource="#stuart">
                    <img property="image" src="https://superwatermelon.com/img/team/sw.jpg" alt="Stuart Wakefield"/>
                    <h3 property="name">Stuart Wakefield</h3>
                    <h5 property="jobTitle">Director</h5>
                    {{{bio}}}
                </div>
            </footer>
        </article>
        <script async src="/procedural-terrain-generation/js/index.js"></script>
    </body>
</html>
